.App {
  text-align: center;
}

.App-body {
  background-color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  > h1 {
    color: #999;
  }
}

.register-c2a-button {
  border: 1px solid #3f5d7f;
  background: #4f82bd;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.list-inline {
  display: flex;
  list-style: none;
  > li {
    padding: 0 10px;
    a {
      text-decoration: none;
    }
  }
}

.registration-form-wrapper {
  width: 100%;
}
.registration-form {
  display: flex;
  flex-direction: column;
  min-width: 100%;
  padding: 20px;
  .fieldset {
    width: 75%;
    margin: 0;
    padding: 0;
    border: 0;
    align-self: center;
    .input-wrapper {
      display: flex;
      align-items: center;
      align-content: center;
      flex-wrap: nowrap;
      flex-direction: row;
      padding-bottom: 20px;
      .control-label {
        text-align: right;
        width: 25%;
        padding-right: 30px;
        label {
          font-size: 24px;
          word-wrap: unset;
          line-height: 60px;
          margin: 0;
          padding: 0;
        }
      }
      .text-input {
        margin: 0;
        width: 75%;
        margin-left: 10px;
      }

      .select-input {
        margin: 0;
        width: 75%;
        margin-left: 10px;
        text-align: center;
      }

      .age-range-slider {
        margin-left: 10px;
        width: 75%;
      }
    }
  }
  .form-submit-button {
    // width: 150px !important;
    // flex: 0 !important;
    // display: inline-block !important;
    // margin-left: auto;
    // margin-right: auto;
    // text-align: center;
    padding: 15px 40px;
    // align-self: flex-start;
    display: inline-block;
    width: 150px;
  }
}

.textAreaAutosize-wrapper {
  textarea {
    width: 100%;
    margin: 0;
  }
}

.fieldset-name {
  .first-name-input {
    margin-right: 5px;
  }
  .last-name-input {
    margin-left: 5px;
  }
}

.profile-page {
  color: black;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-columns: 300px auto;
  grid-template-rows: 100% 100%;
  .sidebar {
    // background: rgba(yellow, 30%);
    height: 100%;
    padding: 40px 20px 20px 20px;
    border-right: 1px solid black;
    .inner-wrap {
      .avatar-wrap {
        .the-img {
          height: 100px;
          width: 100px;
          background: #ddd;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      align-items: center;
      button {
        background: none;
        border: none;
        color: royalblue;
        text-decoration: underline;
        margin-top: 20px;
        display: inline-block;
      }
    }
  }
  .main-content {
    // background: rgba(pink, 30%);
    height: 100%;
    padding: 20px;
    p {
      font-size: smaller;
      span {
        color: royalblue;
      }
    }
  }
}

.register-page {
  color: black;
  display: flex;
  align-items: center;
  align-content: center;
  .page-title {
    font-size: 30px;
  }
}
