.App {
  text-align: center;
}

.App-body {
  background-color: #eee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  > h1 {
    color: #999;
  }
}

.register-c2a-button {
  border: 1px solid #3f5d7f;
  background: #4f82bd;
  color: #ffffff;
  border-radius: 5px;
  padding: 15px 40px;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
}

.list-inline {
  display: flex;
  list-style: none;
  > li {
    padding: 0 10px;
    a {
      text-decoration: none;
    }
  }
}
